*{
    padding: 0;
    margin: 0;
}
:root{
    --theme-color-1:#0f0f0f;
    --theme-color-2:#717171;
    --theme-color-3:#212121;
    --theme-color-3-lighter:#383838;
    --theme-color-3-little-transparent:#2121213d;
    --text-color-1:#363636;
}
body{
    background-color: var(--theme-color-1);
}

html{
    font-size: 62.5%;
}
/* =============================================== */
.grid{
    display: grid;
    grid-template-columns: 5% repeat(auto-fit,minmax(10rem,20rem));
    grid-template-rows: repeat(auto-fit,minmax(2rem,10rem));
    
}

/* =============================================== */
/* Nav Bar */

.nav{
    /* border: 0.1rem solid white; */
    
    grid-row: 1/span 10;
    position: relative;
}

.nav a:not(:nth-child(1)){
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 3.5rem;
    position: relative;
    top: -3rem;
}

.menu-button{
    background-color: transparent;
    border: transparent;
    margin-top: 2.5rem; 
    opacity: 0.9;
}

.menu-button:hover{
    cursor: pointer;
}
.menu-button img{
    width: 35%;
}

.nav a img{
    width: 45%;
}

.logo{
    width: 100%;
    position: absolute;
    top: 2rem;
    right: -8.5rem;
}

.logo::after{
    content: "YouTube";
    position: absolute;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.3rem;
    top: 0.8rem;
    transform: scaleY(1.1);
}

.nav :nth-child(3)::after{
    content: "Home";
    position: absolute;
    bottom: -3rem;
    left: -0.2rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav :nth-child(4)::after{
    content: "Upload";
    position: absolute;
    bottom: -3rem;
    left: -0.3rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav :nth-child(5)::after{
    content: "Settings";
    position: absolute;
    bottom: -3rem;
    left: -0.8rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}



/* Nav Bar */
/* =============================================== */
/* Header Bar */

.header{
    grid-column: 2 / span 9;
    /* border: 0.1rem solid white; */
    display: flex;
    justify-content: center;
    position: relative;
}


.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    background-color: var(--theme-color-1);
    border: 0.2rem solid var(--theme-color-3);
    outline: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem 40rem 1rem 2rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.search-button{
    width: 2.8%;
    background-color: var(--theme-color-3);
    border: transparent;
    padding: 0.3rem 2rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    transition: 0.1s;
    transform: scale(1.8);
    display: flex;
    justify-content: center;
}

.search-button img {
    width: 2rem;
}
.search-button:hover{
    cursor: pointer;
    background-color: var(--theme-color-3);
    opacity:1;
}


.mic-button img{
    filter: invert();

}

.mic-button{
    background-color: var(--theme-color-3);
    border: transparent;
    border-radius: 10rem;
    transform: scale(0.35);
}

.mic-button:hover{
    cursor: pointer;
    background-color: var(--theme-color-3);
    opacity:1;
}

.header-container-mini{
    grid-area: header2;
    width: 40%;
    display: flex;
    justify-content:right;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.header-container-mini a{
    width: 8%;
}

.header-container-mini :nth-child(1) img {
    width:50%;
}
.header-container-mini :nth-child(2) img {
    width:50%;
}
.header-container-mini :nth-child(3) img {
    width:80%;
}


/* Header Bar */
/* =============================================== */
/* Categories Bar */

.categories{
    grid-column: span 3;
    display: flex;
    margin: 2rem 0rem;
}

.categories a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--theme-color-3);
    padding: 1rem 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.categories a:hover{
    background-color: var(--theme-color-3-lighter);
}

/* Categories Bar */
/* =============================================== */
/* Container */
.container{
    grid-column: 2/ span 9;
    display: flex;
    flex-wrap: wrap;

}
.video{
    display: flex;
    width: 22%;
    height: 38vh;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    transition: 0.2s;
}

.video-thumbnail{
    width: 90%;
    height: 22vh;
    margin-top: 0.5rem;
    position: relative;
}


.video-thumbnail span{
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--theme-color-3);
    padding: 0.8rem;
    border-radius: 0.5rem;
    bottom: 0.5rem;
    right: 0.2rem;
    opacity: 0.9;
}
.img-1{
    width: 100%;
    border-radius: 1rem;
    transition: 0.2s;
}

.img-1:hover{
    border-radius: 0;
    transform: scale(1.01);
}

.video-icon{
    width: 20%;
}
.video-container{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.video-container a img{
    border-radius: 5rem;
}

.video-header{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.video-header :nth-child(3){
    font-size: 1.5rem; 
    margin-top: 1rem;
    opacity: 0.7;
    font-weight: 400;
    display: flex;

}
.video-header :nth-child(2){
    font-size: 1.5rem; 
    margin-top: 1rem;
    opacity: 0.7;
    font-weight: 400;
    display: flex;   
    transition: 0.1s;
    position: relative;
}

.video-header :nth-child(2)::after{
    content: "Elzero Web School";
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--theme-color-2);
    color: white;
    top: -7rem;
    left: 0;
    border-radius: 0.5rem;
    display: none;
}

.video-header :nth-child(2):hover{
    opacity: 1;
}

.video-header :nth-child(2):hover::after{
    display: inline;
}
.video-header :nth-child(2) img{
    width: 5.5%;
    margin-left: 1rem;
}
.channel-name{
    position: relative;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 0.5rem;
    top: -2rem;
    left: -15rem;
    opacity: 0.8;
}
/* Container */

@media (max-width:674px){
    .nav{
        display: none;
    }
    .container{
        flex-direction: column;
        align-content: center;
    }   
    .categories{
        grid-column: 5;
        position: relative;
        right: 7rem;
        transform: scale(0.9);
    }
    .video-icon{
        position: relative;
        right: 3rem;
    }
    .video-header{
        font-size: 1.5rem;
    }
    .video-header :nth-child(1){
        position: relative;
        left: 0rem;
        width: 20rem;
        
    }
    .video-header :nth-child(2) img{
        width: 10%;
    }

    .video-thumbnail{
        transform: scale(2.5);
        margin-top: 12rem;
    }

    .video-thumbnail img{
        border-radius: 0rem;
    }

    .video-thumbnail span{
        position: absolute;
        transform: scale(0.4);
        bottom: -1rem;
        right: -3rem;
    }
    .video-container{
        margin-top:7rem;
    }
    .search-bar{
        padding: 1rem 0rem 1rem 2rem;
        margin-left: 6rem;
        font-size: 1.5rem;
    }
    .search-button{
        transform: scale(1.6);
        cursor: pointer;
    }
    .header-container-mini{
        /* display: none; */
        transform: scale(2.5);
        margin-top: 2rem;
        margin-right: 10rem;
    }
}